.char-search {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr auto;
    gap: var(--gap-sm);
    font-weight: bold;
    font-size: var(--fs-md);
    line-height: var(--lh-md);

    &__label {
        display: block;
        color: #000;
        grid-column: 1 / -1;
    }

    &__input {
        padding: 0 var(--gap-xs);
        max-width: 250px;
        height: 38px;
        border: none;
        background: var(--color-white);
        box-shadow: var(--shadow-input);
        font-size: var(--fs-sm);
    }

    &__message {
        color: var(--color-main);

        &_error {
            grid-column: 1 / -1;
        }
        &_success {
            color: #03710e;
        }
    }
}
