.single-item {
    display: grid;
    grid-template-columns: auto minmax(200px, 1fr) auto;
    column-gap: var(--gap-lg);
    align-items: start;
    font-size: var(--fs-md);
    line-height: var(--lh-md);

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--gap-md);
    }

    &__img {
        width: 293px;
        height: 450px;
        object-fit: cover;
    }
    &__name {
        font-weight: bold;
        font-size: var(--fs-lg);
        line-height: var(--lh-lg);
    }
    &__price {
        font-weight: bold;
        font-size: var(--fs-xl);
        line-height: var(--lh-xl);
        color: var(--single-item-accent);
    }
    &__back {
        justify-self: end;
        font-weight: bold;

        &:hover {
            color: var(--single-item-accent);
        }
    }

    @media (width <= 768px) {
        gap: var(--gap-md);
    }

    @container (width <= 600px) {
        grid-template-columns: auto;
        gap: var(--gap-sm);

        &__content {
            gap: var(--gap-sm);
        }

        &__img {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-position: top;
        }

        &__back {
            justify-self: start;
            order: -1;
        }
    }
}
