@use "../../assets/styles/variables.scss" as *;

.single-item {
    display: grid;
    grid-template-columns: auto minmax(200px, 1fr) auto;
    column-gap: 50px;
    align-items: start;
    font-size: 18px;
    line-height: 24px;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__img {
        width: 293px;
        height: 450px;
        object-fit: cover;
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
    }
    &__price {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: $main-color;
    }
    &__back {
        justify-self: end;
        font-weight: bold;

        &:hover {
            color: $main-color;
        }
    }

    @media (width <= 768px) {
        gap: 25px;
    }

    @container (width <= 600px) {
        grid-template-columns: auto;
        gap: 15px;

        &__content {
            gap: 15px;
        }

        &__img {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-position: top;
        }

        &__back {
            justify-self: start;
            order: -1;
        }
    }
}
