.app {
    padding: var(--gap-lg) 0 var(--gap-lg) 0;
    position: relative;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);

    &__container {
        max-width: var(--container-max-width);
        margin-inline: auto;
        width: calc(100% - 15px);
        container-type: inline-size;
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: var(--gap-lg);
    }
}
