.app {
    padding: 50px 0 50px 0;
    position: relative;

    &__container {
        max-width: 1100px;
        margin-inline: auto;
    }

    &__decor {
        position: absolute;
        right: 0;
        bottom: -70px;
        z-index: -1;
    }
}
