@use "../../assets/styles/variables.scss" as *;

.header {
    display: flex;
    justify-content: space-between;
    line-height: 1.2;

    &__title {
        font-weight: bold;
        font-size: clamp(18px, 4vw, 28px);
        transition: opacity 0.3s ease;

        span {
            color: $main-color;
        }

        &:has(span) {
            &:hover {
                cursor: pointer;
                opacity: 0.6;
            }
        }
    }

    &__menu {
        &-list {
            display: flex;
            justify-content: space-between;
            gap: $menu-gap;
            font-weight: bold;
            font-size: clamp(16px, 4vw, 24px);
        }

        &-item {
            &:not(:last-child) {
                &::after {
                    content: "/";
                    margin-left: $menu-gap;
                    color: inherit;
                    display: inline-block;
                }
            }
        }

        &-link {
            transition: color 0.3s ease;

            &:hover {
                color: $main-color;
            }

            &_active {
                color: $main-color;
                pointer-events: none;
            }
        }
    }
}
