@use "../../assets/styles/variables.scss" as *;

.header {
    display: flex;
    justify-content: space-between;
    line-height: 1.2;

    &__title {
        font-weight: bold;
        font-size: clamp(18px, 4vw, 28px);
        span {
            color: $main-color;
        }
    }

    &__menu {
        &-list {
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            font-size: clamp(16px, 4vw, 24px);
        }
        &-item {
            margin: 0 8px;
            &:hover {
                color: $main-color;
            }

            &_active {
                color: $main-color;
                pointer-events: none;
            }
        }
    }
}
