.char-section {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 425px);
    column-gap: var(--gap-md);
    align-items: start;

    @media (width < 1024px) {
        grid-template-columns: 1fr minmax(200px, 350px);
    }

    @media (width < 768px) {
        grid-template-columns: 1fr;
    }

    &__aside {
        position: sticky;
        top: var(--gap-xs);
        display: flex;
        flex-direction: column;
        gap: var(--gap-md);

        @media (width < 768px) {
            position: fixed;
            right: 0;
            top: 0;
            height: 100%;
            width: min(425px, 85%);
            overflow-y: auto;
            transform: translateX(100%);
            transition: transform var(--transition-fast);
            z-index: 100;
            background: var(--char-section-bg);
            padding-top: calc(var(--char-section-close-btn-size) + 5px);

            &_open {
                transform: translateX(0);
            }
        }
    }

    &__aside-inner {
        box-shadow: var(--shadow-section);
        position: relative;
        z-index: 5;
        background-color: var(--char-section-bg);
        padding: var(--gap-md);

        @media (width <= 768px) {
            padding: var(--gap-sm);
        }
    }

    &__overlay {
        display: none;

        @media (width < 768px) {
            display: block;
            position: fixed;
            inset: 0;
            background: var(--overlay-color);
            z-index: 99;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s;

            &_open {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    &__aside-close {
        display: none;

        @media (width < 768px) {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            // top: var(--gap-xs);
            // right: var(--gap-xs);
            top: 0;
            right: 0;
            width: var(--char-section-close-btn-size);
            height: var(--char-section-close-btn-size);
            background: none;
            border: none;
            font-size: 20px;
            cursor: pointer;
            color: currentColor;
            z-index: 101;

            &:hover {
                color: var(--char-section-close-hover);
            }
        }
    }

    &__decor {
        position: absolute;
        right: 0;
        bottom: -70px;
        z-index: -1;

        @media (width < 768px) {
            height: 125px;
        }
    }
}
