@use "../variables.scss";

.button {
    min-width: 101px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.3s ease;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:focus-visible {
        &.button__main {
            filter: drop-shadow(0 0 5px rgba(variables.$main-color, 0.9));
        }
        &.button__secondary {
            filter: drop-shadow(0 0 5px rgba(variables.$grey, 0.9));
        }
    }

    &__long {
        display: block;
        width: 170px;
        margin: 45px auto 0 auto;
    }
    .inner {
        position: relative;
        background-color: variables.$main-color;
        line-height: 18px;
        padding: 0 18px;
        transition: none;
        display: block;
        &::before {
            border-color: variables.$main-color transparent;
            border-style: solid;
            border-width: 0 0 10px 10px;
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: -10px;
            transition: none;
        }
        &::after {
            border-color: variables.$main-color transparent;
            border-style: solid;
            border-width: 0 0 10px 10px;
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: -10px;
            transform: rotate(180deg);
            transition: none;
        }
    }
    &__main,
    &__secondary {
        &:hover {
            color: #fff;
        }
    }
    &__secondary {
        .inner {
            background-color: variables.$grey;
            &::before {
                border-color: variables.$grey transparent;
                transition: none;
            }
            &::after {
                border-color: variables.$grey transparent;
                transition: none;
            }
        }
    }
    &::before {
        content: "";
        display: block;
        height: 10px;
        margin-left: 10px;
        transition: none;
    }
    &::after {
        content: "";
        display: block;
        height: 10px;
        margin-right: 10px;
        transition: none;
    }
    &.button__main::before,
    &.button__main::after {
        background-color: variables.$main-color;
    }
    &.button__secondary::before,
    &.button__secondary::after {
        background-color: variables.$grey;
    }

    &:hover:not(:disabled) {
        transform: translateY(-5px);
        filter: brightness(1.2);
    }

    &:active:not(:disabled) {
        transform: translateY(-2px);
    }

    &_disabled,
    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        &:hover {
            transform: none;
        }
    }

    &_hidden {
        visibility: hidden;
    }
}
