@use "../../assets/styles/variables.scss" as *;

.randomchar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    // container: randomchar / inline-size;
    container-type: inline-size;

    &__column {
        padding: 40px 35px;

        @media (width <= 1024px) {
            padding: 15px;
        }
    }

    &__banner {
        background-color: $dark;
        position: relative;
        overflow: hidden;
        z-index: 1;

        button {
            margin-top: 13px;
        }
        // @container randomchar (width <= 700px) {
        @container (width <= 700px) {
            order: -1;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.045em;
        color: #ffffff;
        width: calc(100% - 80px);
        &:nth-child(2) {
            margin-top: 33px;
        }
    }
    &__decoration {
        position: absolute;
        bottom: 14px;
        right: -37px;
        z-index: -1;
    }
}
