.randomchar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    box-shadow: var(--shadow-lg);
    container-type: inline-size;

    &__column {
        padding: 40px 35px;

        @media (width <= 1024px) {
            padding: var(--gap-sm);
        }
    }

    .char-info {
        order: -1;
    }

    &__banner {
        background-color: var(--randomchar-bg);
        position: relative;
        overflow: hidden;
        z-index: 1;

        .button {
            margin-top: 13px;
        }

        @container (width <= 700px) {
            order: -1;
        }
    }

    &__title {
        font-weight: bold;
        font-size: var(--fs-xl);
        line-height: var(--lh-xl);
        letter-spacing: -0.045em;
        color: var(--randomchar-text);
        width: calc(100% - 80px);

        &:not(:first-child) {
            margin-top: 33px;
        }
    }

    &__decoration {
        position: absolute;
        bottom: 14px;
        right: -37px;
        z-index: -1;
    }
}
